body {
    display:flex;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(#581845,#ff4890);
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.contenedor{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 700px;
}


.form-group{
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 50px;
    width: 675px;
    text-decoration: none;
    padding: 12px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    
}

.btn{
    gap: 10px;
    width: 230px;
    text-decoration: none;
    padding: 12px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
}

.btn:hover{
    background: rgba(255, 255, 255, 0.5);
    color: #3b024a;
    transform: scale(1.05);
}

 
