body {
    display:flex;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(#581845,#ff4890);
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.contenedor{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 40px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}


label{
    color: white;
    font-weight: bold;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}


input{
    gap: 10px;
    width: 230px;
    text-decoration: none;
    padding: 12px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
}

.placeholder{
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
}

.acceder:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #3b024a;
    transform: scale(1.05);
}