<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/holding?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">cualquiera</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="prog2.holdingweb.UsuarioDTO"/>
        <mapping class="prog2.holdingweb.AdministradorDTO"/>
        <mapping class="prog2.holdingweb.VendedorDTO"/>
        <mapping class="prog2.holdingweb.AsesorDTO"/>
        <mapping class="prog2.holdingweb.AsesoraDTO"/>
        <mapping class="prog2.holdingweb.PaisDTO"/>
        <mapping class="prog2.holdingweb.EmpresaDTO"/>
        <mapping class="prog2.holdingweb.AreaDTO"/>
    </session-factory>
</hibernate-configuration>

